# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg-info/
dist/
build/
*.egg
*.log

# FastAPI (general Python web backend)
instance/
*.db
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.pyc

# Pipenv
Pipfile.lock

# Mypy
.mypy_cache/

# Others
*.swp
*.bak